.mat-card{
  width: 27%;
  margin: auto;
  border-radius: 20px;
  margin-top: 2rem;
}
.mat-card-footer{
  margin: auto;
}
button{
  margin: 0 50%;
  transform: translateX(-50%);
}
.mat-form-field{
  width: 90%;
}
.register-link{
  margin-top: 1rem;
}
.register-link p a{
  font-weight: bolder;
  cursor: pointer;
  color: black;
  transition: all .3s ease-in-out;
}
.register-link p a:hover{
  text-decoration: underline;
  color: rgba(0,0,0,.5);
}
